.tituloEtapaFormulario{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.indice{font-size: 15px}

.seletorAutonomo{
  width: 100%;
}

.linha{
  width: 100%;
  position: relative;
}

.iconForm{
  cursor: pointer;
  position: absolute;
  width: 22.5px;
  top: 10px;
  right: 10px;
}

.btnVoltar{margin-bottom: 5px;}